<footer>
    <div class="footer">
    
        <div class="text-rrss">
            <span><img class="rrss" src="assets/instagram.png" alt="Redes Sociales" srcset=""></span>
            <span><img class="rrss" src="assets/twitter.png" alt="Redes Sociales" srcset=""></span>
            <span><img class="rrss" src="assets/linkedin.png" alt="Redes Sociales" srcset=""></span>
    
            <span><img class="rrss" src="assets/user.png" alt="Redes Sociales" srcset=""></span>
    
        </div>
    
        <div class="box-footer">
            <span>Política de Privacidad</span>
            <span>|</span>
            <span>Política de Cookies</span>
            <span>|</span>
            <span>Aviso Legal</span>
    
            <span class="me-2 ms-2">@SerafínPiñaBarranco</span>
        </div>
    
    </div>
</footer>

