body{
    background-color: #d6f5b3;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: #d6f5b3;
}

.col2, .col3{
    display: none;
}
.col1, .col2, .col3{
    padding-top: 1vh;
    flex: 1 1 350px;
    text-align: center;
    background-color: #ffab9c;
    margin: 1vh;

}

.tabla{
    margin: 1vh;
    background-color: white;
    width: 96%;
}

.tabla thead tr{
    background-color: #d6f5b3;
}

.tabla tbody tr:nth-child(2n+0){
    background-color: #eaede7;
}


/* @media only screen and (max-width: 900px) {
    .col1, .col2{
        
        position: relative;
        margin-left: 0px;
        margin-bottom: 2vh;
        width: 100vw;
    }
}

@media only screen and (max-width: 600px) {
    .col1, .col2{
        position: relative;
        margin-left: 0px;
        margin-bottom: 2vh;
        width: 100vw;
    }
  } */