body{
    background-color: #d6f5b3;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: #d6f5b3;
}

.col1, .col2{
    flex: 1 1 350px;
    text-align: center;
    background-color: #ffab9c;
    margin: 1vh;

}


/* @media only screen and (max-width: 900px) {
    .col1, .col2{
        
        position: relative;
        margin-left: 0px;
        margin-bottom: 2vh;
        width: 100vw;
    }
}

@media only screen and (max-width: 600px) {
    .col1, .col2{
        position: relative;
        margin-left: 0px;
        margin-bottom: 2vh;
        width: 100vw;
    }
  } */