td img{
    width: 28px;
    height: 28px;
    margin-right: 1rem;
    margin-left: 1rem;
}

td button{
    background-color: transparent;
    border: 0px;
}

.ver_receta{
    display: none;
}

.li_detalle{
    margin-bottom: 2vh;
}
.span_detalle{
    /* background-color: #ffab9c; */
    color: #ffab9c ;
    padding: 2px;
    border-radius: 5px;
    font-weight:bold;
}
.sub_li_detalle{
    padding-left: 2vw;
}

@media only screen and (max-width: 460px)  {
    .container{
        width: 90%;
    }
}