*{
    box-sizing: border-box;
}

.titulo{grid-area: titulo;}
.c_nombre{grid-area: receta;}
.c_ingredientes{grid-area: ingredientes;}

.contenedor_grid{
    border: 1px solid rgb(93, 102, 95);
    margin-top: 2vh;
    /* height: 85vh; */
  
    display: grid;
    grid-template: 
        'titulo titulo titulo titulo titulo'
        'receta receta receta receta receta'
        'ingredientes ingredientes ingredientes ingredientes ingredientes';
    grid-gap: 5px;
}

.titulo{
    text-align: center;
}

.c_nombre{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.edt_nombre1{
    padding: 3vh 0;
   
    grid-column: 2 / span 2;
}
.edt_nombre2{
    text-align: left;
    padding: 3vh 0;
}

.c_ingredientes{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    align-items: center;
}

.edt_ingrediente1{
    grid-column: 4 / span 3;
}

button{
    background-color: transparent;
    border: 0px;
}
button img, td img{
    width: 32px;
    height: 32px;
}