* {
    box-sizing: border-box;   
    margin: 0px;
    padding: 0px; 
    /* border: 1px solid red; */
}

body { 

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #ffab9cff;
}

#usuario{
    color: rgb(131, 185, 51);
}

.logout{
    margin-left: 50vw;
}

a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}
a:hover{
    color: #ffab9cff;
}

.div-form{
    text-align: center;
    margin: 6vh 0px;
}
.div-boton{
    width: 20%;
    text-align: center;
}


/* @media screen and (max-width: 900px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
  
    .header-right {
        float: none;
    }       

} */




/*Footer*/
.footer {
    margin-top: 40%;
    flex: 0 0 auto;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #ffab9cff;
    color: white;
    text-align: center;
 }

 .box-footer{
     color: black;
     
     font-size: 0.7em;
     text-align: right;
 }


.rrss{
    width: 32px;
    height: 32px;
}
 
.div1{
    margin-top: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.list-group{   
    font-size: 2em;
    display: flex;
    width: 50%;
    flex-direction: column;
    list-style: none;
}
.list-group-item{
    width: 100%;
    align-self: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(129, 128, 128)

}

@media (max-width: 900px){
    .list-group{
        width: 80%;
        font-size: 1.5em;
    }
    .list-group-item{
        width: 100%;
    }

    .logout{
        margin-left: 40vw;
    }
    
    .div-boton{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 600px){
    .logout{
        margin-left: 30vw;
    }
}

@media (max-width: 470px){
    .logout{
        margin-left: 10vw;
    }
}

input[type=text]:focus{
    background-color: rgb(208, 233, 171);
    font-weight: bold;
    
}



