.div-lista{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}


.card{
    width: 10%;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card h4{
    margin-bottom: -15px;
    align-self: center;
}

ul{
    margin-top: -10px;
    margin-left: -20px;
    text-align: left;
    list-style: none;
}

.botones{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.icon{
    width: 30px;
    height: 30px;
}



@media screen and (max-width: 500px) {
    .card{
        width: 30%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

@media only screen and (max-width : 321px) {
    body{
       
    }
}

#eliminar, #editar{
    outline: none;
    background-color: transparent;
    border-color: transparent;
}


.inputs{
    margin-top: 4px;
    margin-bottom: -12px;
    margin-left: 2px;
    margin-right: 2px;
}

.inputs-valores{
    font-size: 12px;
    width: 80%;
}


/*MODAL*/
