* {box-sizing: border-box;    
}

body { 

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #ffab9cff;
}


a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}
a:hover{
    color: #ffab9cff;
}

.div-form{
    text-align: center;
    margin: 6vh 0px;
}
.div-boton{
    width: 20%;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
  
    .header-right {
        float: none;
    }       

}




/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffab9cff;
    color: white;
    text-align: center;
 }

 .box-footer{
     color: black;
     
     font-size: 0.7em;
     text-align: right;
 }


.rrss{
    width: 32px;
    height: 32px;
}
 
.div1{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    
}
.list-group{   
    font-size: 2em;
    display: flex;
    width: 50%;
    flex-direction: column;
    list-style: none;
}
.list-group-item{
    width: 50%;
    align-self: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(129, 128, 128)

}

@media (max-width: 500px){
    .list-group{
        width: 80%;
        font-size: 1.5em;
    }
    .list-group-item{
        width: 100%;
    }
    
    .div-boton{
        width: 100%;
        text-align: center;
    }
}


input[type=text]:focus{
    background-color: rgb(208, 233, 171);
    font-weight: bold;
    
}



